<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Sismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id="map" class="map"></div>
    <ion-card-header>
      <ion-card-title>Detalle</ion-card-title>
      <ion-card-subtitle>Fecha Local: {{fechaLocal}}<br>
      Fecha UTC: {{fechaUTC}}<br>
      Latitud: {{latitud}}<br>
      Longitud: {{longitud}} <br>
      Magnitud: {{magnitud}} <br>
      Profundidad: {{profundidad}}<br>
      Referencia geografica: {{referencia}}<br>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-button [routerLink]="['/tabs/tab1']">Volver</ion-button>
</ion-content>