<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title >
      Login Google 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="group">
      <label class="bar">{{ name ? name : 'Usuario' }}</label>
    </div>
    <div class="group">
      <label class="bar">{{ email ? email : 'Email' }}</label>
    </div>
    <button type="button" class="button buttonBlue" (click)="buttonEntrar()">Entrar
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>

  <div>
    <button ion-button class="button" expand="block" (click)="loginGoogle()">
      <ion-icon name="logo-google"></ion-icon>
      Iniciar Sesión con Google
    </button>
  </div>
  <footer><a href="https://github.com/xtramann1/AppMovil/tree/master" target="_blank"><img src="assets/img/github.png"></a>
    <p>Código App Móvil <a href="https://github.com/xtramann1/AppMovil/tree/master" target="_blank">Link</a></p>
  </footer>
</ion-content>