<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img class="centrar" width="45" height="45" src="assets/img/casa.png"/>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <img class="centrar" width="45" height="45" src="assets/img/sismi.jpg"/>
      <ion-label>Últimos Sismos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img class="centrar" width="45" height="45" src="assets/img/integrantes.png"/>
      <ion-label>Integrantes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
