<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Integrantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <img class="centrar" width="100" height="100" src="assets/img/fabii.jpg"/>
    <ion-card-header>
      <ion-card-title class="centrar2">Fabián Urriola Poisson</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img class="centrar" width="100" height="100" src="assets/img/pipe.jpg"/>
    <ion-card-header>
      <ion-card-title class="centrar2">Felipe González Duarte</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
