<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Integrantes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card >
    <img class="centrar" width="100" height="100" src="assets/img/fabii.jpg"/>
    <ion-card-header>
      <ion-card-title class="centrar2">Fabián Urriola Poisson</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img class="centrar" width="100" height="100" src="assets/img/pipe.jpg"/>
    <ion-card-header>
      <ion-card-title class="centrar2">Felipe González Duarte</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
