<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Ultimos Sismos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2 class="letra"><b>Estos son los ultimos sismos producidos<br>
      Presione en el sismo deseado para ver su información.</b>
  </h2>
  <ion-list>
    <button ion-button class="button" [routerLink]="['/masinfo',item.id]" ion-item *ngFor="let item of usuarios">
      <ion-icon name="navigate"></ion-icon>
      {{item.id}} - {{item.name}}
      <br>
    </button>
  </ion-list>
</ion-content>