#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("https://static.nationalgeographic.es/files/styles/image_3200/public/og_01_volcano_earthquake_gettyimages-532502396.jpg?w=1900&h=1900") center top no-repeat;
    background-size: cover;
    padding-top: 30px;
  }
  
  @media (max-width: 991px) {
    #hero {
      height: auto;
      padding: 10px 0 60px 0;
    }
    #hero .container {
      height: auto !important;
    }
    #hero .intro-img {
      width: 30%;
    }
  }
  
  @media (min-width: 992px) {
    #hero .intro-info {
        text-align: center;
      padding-top: 100px;
    }
  }
  
  @media (max-width: 991px) {
    #hero .intro-info {
      text-align: center;
      padding-top: 40px;
    }
  }
  
  #hero .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero .intro-info h2 span {
    color: #1bb1dc;
  }
  
  @media (max-width: 991px) {
    #hero .intro-info h2 {
      font-size: 34px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
  #hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  }
  
  #hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
    background: #0a98c0;
  }
.blanco{
    text-align: center;
    color:#3b7861;
}

.blanquito{
    color: white;
}