<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div id="hero" class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2><strong>Bienvenido(a) a la app de sismos</strong><br></h2>
          <p><b>En esta aplicación movil, se mostrarán los ultimos 15 sismos ejecutados 
            con sus respectivas caracteristicas, ya sea latitud, longitud, profundidad, fecha, etc.</b>
          </p><br><br>
          <h1 class="blanco"><strong>¿Qué es un sismo?</strong> </h1><br>
          <p class="blanco"><b>Un sismo es el movimiento brusco de la Tierra causado por la liberación de energía acumulada durante un largo tiempo. Habitualmente estos movimientos son lentos e imperceptibles, pero en algunos el desplazamiento libera una gran cantidad de energía, cuando una de las placas se mueve bruscamente contra la otra, rompiéndola y originando el Terremoto.
          </b></p>
        </div>
      </div>
    </div>
</ion-content>


